.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;

}

.footer-section {
    flex: 0.3;
    min-width: 250px;
    margin: 1rem 0;
}

.footer-logo {
    font-size: 2rem;
    color: #ff6347;
    /* Tomato color */
    margin-bottom: 1rem;
}

.footer-description {
    margin-bottom: 1rem;
}

.footer-socials a {
    color: #fff;
    margin-right: 1rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #ff6347;
    /* Tomato color */
}

.footer-section h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ff6347;
    /* Tomato color */
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #444;
    margin-top: 2rem;
    color: #ccc;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin: 1rem 0;
    }
}