.auth-container {
    width: 300px;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.no-account{
    margin-top: 10px;
}
.no-account span{
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}